{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block body %}
<h1 style="text-align: center">Login Page</h1>
  <form method="post", style="text-align: center">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input name="password" id="password" required>
    <p></p>
    <input type="submit" value="Log In">
    <a href="/auth/register" class="button">Register</a>
  </form>
{% endblock %}