<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}{% endblock %}
</head>
<title>{% block title %}{% endblock %} KanBan Board</title>
<nav>
    <h1>Kanban Board</h1>
    {%for message in get_flashed_messages()%}<p class="flash-message">{{ message }}</p> {% endfor %}
</nav>
<body>
    {% block body %}{% endblock %}
</body>
</html>
